<div class="modal-header">
  <div class="modal-title">修改1信息</div>
</div>
<form nz-form #f="ngForm" [formGroup]="form" se-container="2" (ngSubmit)="submitForm()">
  <se label="Text">
    <input type="text" nz-input formControlName="text" required />
  </se>
  <se label="Link">
    <input type="text" nz-input formControlName="link" required />
  </se>
  <se label="Icon">
    <input type="text" nz-input formControlName="icon" />
  </se>
  <se label="Enable">
    <nz-switch formControlName="enable" nzCheckedChildren="启用" nzUnCheckedChildren="禁用" />
  </se>
  @if (record && !record.group) {
    <se label="parent">
      <nz-tree-select
        formControlName="parentId"
        nzShowIcon="true"
        nzPlaceHolder="Please select"
        [(ngModel)]="nodeSelectValue"
        [nzDropdownMatchSelectWidth]="true"
        [nzDropdownStyle]="{ 'max-height': '300px' }"
        [nzNodes]="nodes"
        [nzAsyncData]="true"
        (nzExpandChange)="onExpandChange($event)"
      />
    </se>
  }
</form>
<div class="modal-footer">
  <button nz-button nzType="primary" type="submit" (click)="f.ngSubmit.emit()" [disabled]="!f.valid">保存</button>
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
