<page-header />
<nz-table #expandTable [nzLoading]="loading" [nzData]="tableData">
  <thead>
    <tr>
      <th>id</th>
      <th>text</th>
      <th>link</th>
      <th>group</th>
      <th>-</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of expandTable.data">
      <ng-container *ngFor="let item of mapOfExpandedData[data.id]">
        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
          <td
            [nzIndentSize]="item.level * 20"
            [nzShowExpand]="item.group"
            [(nzExpand)]="item.expand"
            (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)"
          >
            {{ item.id }}
          </td>
          <td><span nz-icon nzType="{{ item.icon }}" nzTheme="outline"></span>{{ item.text }}</td>
          <td>{{ item.link }}</td>
          <td>{{ item.group }}</td>
          <td>
            <button nz-button nzSize="small" nzType="primary" nzShape="circle" (click)="edit(item)">
              <span nz-icon nzType="edit"></span>
            </button>
            <button
              nz-button
              nzSize="small"
              nzType="primary"
              nzDanger
              nzShape="circle"
              nz-popconfirm
              nzOkDanger
              nzPopconfirmTitle="Title"
              [nzBeforeConfirm]="beforeConfirm"
              (nzOnConfirm)="confirm()"
              (nzOnCancel)="cancel()"
              (click)="delete(item)"
            >
              <span nz-icon nzType="delete"></span>
            </button>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</nz-table>
