<page-header [title]="'编辑'" [recursiveBreadcrumb]="true" />
<nz-card>
  <!--@if (i) {-->
  <!--  <sf #sf mode="edit" [schema]="schema" [ui]="ui" [formData]="i" button="none">-->
  <!--    <div class="modal-footer">-->
  <!--      <button nz-button type="button" (click)="close()">关闭</button>-->
  <!--      <button nz-button type="submit" nzType="primary" (click)="save(sf.value)" [disabled]="!sf.valid" [nzLoading]="http.loading">保存</button>-->
  <!--    </div>-->
  <!--  </sf>-->
  <!--} @else {-->
  <!--  <nz-spin class="modal-spin" />-->
  <!--}-->
  <form nz-form [nzLayout]="'horizontal'" nzNoColon [nzLabelAlign]="'right'" [formGroup]="form" (ngSubmit)="save()">
    <nz-form-item [nzJustify]="'space-between'">
      <nz-form-label nzLabelAlign="left" nzRequired="true" nzFor="username">用户名</nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="usernameError">
        <input nz-input formControlName="username" name="username" type="text" id="username" />
        <ng-template #usernameError let-control>
          <ng-container>The input is not valid E-mail!,min5,max10</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="nickName">昵称</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="nickName" name="nickName" type="text" id="nickName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="email">email</nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="'格式不正确'">
        <input nz-input formControlName="email" name="email" type="email" id="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="phone">phone</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="phone" name="phone" type="email" id="phone" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="accountExpired">accountExpired</nz-form-label>
      <nz-form-control>
        <nz-switch formControlName="accountExpired" name="accountExpired" id="accountExpired" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="accountLocked">accountLocked</nz-form-label>
      <nz-form-control>
        <nz-switch formControlName="accountLocked" name="accountLocked" id="accountLocked" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="enable">enable</nz-form-label>
      <nz-form-control>
        <nz-switch formControlName="enable" name="enable" id="enable" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired="true" nzFor="roles">roles</nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="'请给用户赋权'">
        <bind-role formControlName="roles" [(selected)]="record.roles" />
      </nz-form-control>
    </nz-form-item>
    <div class="modal-footer">
      <button nz-button type="submit" [disabled]="!form.valid" nzType="primary"> 保存</button>
      <button nz-button type="button" (click)="close()">关闭</button>
    </div>
  </form>
  <pre>{{ form.value | json }}</pre>
</nz-card>
